<app-alert-message [alert]='alert' [success]='success' [message]="message"></app-alert-message>

<div class="max-w-lg mx-auto">
    <a [routerLink]="['/project']"class="hover:text-blue-500" >Go back to Project</a>
    <div class="py-5 border-t border-gray-200">
        <h1 class="text-4xl text-gray-800">Update Project</h1>
    </div>
    <form  class="mt-5" [formGroup]="projectupdateForm" (ngSubmit)='onSumbit()' >
        <!-- <div id="div_id_projectName" class="mb-3"> <label for="id_projectName" class="block text-gray-700 text-sm font-bold mb-2">
            Project Name<span class="asteriskField">*</span> </label> <input type="text" name="projectName" maxlength="150" class="textinput px-4 block w-full focus:outline-none border text-gray-700 py-2 leading-normal bg-white rounded-lg border-gray-300 appearance-none" required id="id_projectName" formControlName="projectName" > </div>
            <div id="div_id_clientName" class="mb-3"> <label for="id_clientName" class="block text-gray-700 text-sm font-bold mb-2">
                Client Name<span class="asteriskField">*</span> </label> <input type="text" name="clientName"  class="textinput px-4 block w-full focus:outline-none border text-gray-700 py-2 leading-normal bg-white rounded-lg border-gray-300 appearance-none" required id="id_clientName" formControlName="clientName"> </div> -->


            <div id="div_id_repoLink" class="mb-3"> <label for="id_repoLink" class="block text-gray-700 text-sm font-bold mb-2">
                RepoLink<span class="asteriskField">*</span> </label> <input type="text" name="repoLink"   class="textinput px-4 block w-full focus:outline-none border text-gray-700 py-2 leading-normal bg-white rounded-lg border-gray-300 appearance-none" formControlName="repoLink"required id="id_repoLink"> 
                
            </div>

                <div id="div_id_status" class="mb-3"> <label for="id_status" class="block text-gray-700 text-sm font-bold mb-2">
                    status<span class="asteriskField">*</span> </label> <div class="mb-3"> <div class="relative">
                <select class="bg-white focus:outline-none border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700" name="status"formControlName="status" > <option value="" >---------</option> <option value="In Progress" >In Progress</option>  <option value="Completed" >Completed</option> </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"> <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg> </div>
                </div>
                </div> </div> 
                
                
                <button type='submit' class="w-full text-white bg-blue-600 disabled:opacity-50 px-3 py-2 rounded-md" [disabled]="!projectupdateForm.valid">
                    Submit
        </button>
    </form>
</div>
